/* summarizerBox */
.text-box{
    background-color: white;
    box-sizing: border-box;
    height: 56vh;
    width: 89%;
    max-width: 100%;
    border-radius: 5px;
    position: fixed;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    z-index: 999;
}

.text-box > h1 {
    text-align: center;
}

.text-flex{
    display: flex;
	justify-content: center;
}

.caja{
    height: 50vh;
	width: 100%;
	padding: 4px;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.caja > textarea{
    max-width: 100%;
    height: 86%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    padding: 10px;
    font-size: 15px;
}

.caja > p {
    max-width: 100%;
    height: 86%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding: 10px;
}

.caja > .loadingText{
    max-width: 100%;
    height: 86%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text-box{
    display: flex;
    justify-content: space-between;
	align-items: flex-end;
}



.left-text-box > button {
    margin-right: 9px;
}

.right-text-box {
    display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

/* button */

.button {
    position: relative;
    padding: 10px 40px;
    float: left;
    border-radius: 3px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
   }
   
   .button:hover, .button:active {
    -webkit-transform: translate(0px,2px);
    -ms-transform: translate(0px,2px);
    transform: translate(0px,2px);
    border-bottom: 1px solid #2ecc71;
   }

   .right-text-box > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   .right-text-box > button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }


  