:root {
  --dark: #000000;
  --yellow: #F0A500;
  --blue: #F4F4F4;
  
  --c1: #F49D1A;
  --c2: #B01E68;
  
  --left-color: var(--c1);
  --right-color: var(--c2);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

.get{
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.btns{
  display: flex;
  justify-content: space-around;
}

.space-container {
  /* position: relative; */
  z-index: 800;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
}

